.popup__container {
  border-radius: 10px;
  position: relative;
  max-width: 358px;
  background: #fff;
  padding: 34px 36px 37px;
}

@media (max-width: 768px) {
  .popup__container {
    padding: 25px 22px 25px 22px;
    max-width: 74vw;
  }
}
