.header {
  margin: 45px 0px 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  min-height: 74px;
  width: calc(100% - 38px);
  padding: 0 19px;
}

@media (max-width: 768px) {
  .header {
    min-height: 56px;
    margin: 28px 0 42px;
    padding-left: 27px;
    padding-right: 27px;
    width: calc(100% - 54px);
  }
}
