.profile__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: auto;
  max-width: calc(100% - 300px);
}

@media (max-width: 768px) {
  .profile__info {
    max-width: 100%;
    justify-content: center;
    margin-right: 0;
  }
}