.profile__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: auto;
  max-width: 340px;
}

@media (max-width: 768px) {
  .profile__info {
    max-width: 255px;
    justify-content: center;
    margin-right: 0;
  }
}
