.profile__info_button {
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  transition: 0.3 ease-in-out;
  cursor: pointer;
}

.profile__info_button:hover {
  opacity: 0.6;
}
